:root {
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Rochester", serif;
  --background: #002b4b;
  --primary-color: #b8ffe9;
  --secondary-color: ##00c2c2;
}

.App {
  text-align: center;
  background-color: var(--background);
  min-height: 100vh;
}
