:root {
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Rochester", serif;
  --background: #002b4b;
  --primary-color: #b8ffe9;
  --secondary-color: #00c2c2;
}

.App {
  text-align: center;
  background-color: var(--background);
  min-height: 100vh;
}

.App h1 {
  font-family: var(--secondary-font);
  font-size: 80px;
  color: var(--primary-color);
  padding-top: 90px;
  padding-bottom: 100px;
}

@media (min-width: 280px) and (max-width: 400px) {
  .App .App-md,
  .App-sm {
    margin: 0 auto;
  }

  .App h1 {
    font-size: 60px;
  }
}
