.FinalProjects ul {
  padding: 0;
}

.FinalProjects li {
  list-style: none;
  padding: 20px 0;
}

.FinalProjects .btn {
  background: #00c2c2;
  color: white;
  border-radius: 35px;
  font-size: 30px;
  font-weight: 600;
  padding: 15px 20px;
  transition: all 200ms ease-in-out;
}

.FinalProjects .btn:hover {
  color: white;
  font-weight: 700;
}

@media (min-width: 280px) {
  .FinalProjects .btn {
    font-size: 20px;
  }
}
