.Footer {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  opacity: 0.8;
  padding: 135px 0 60px 0;
}

.Footer a {
  text-decoration: none;
  color: var(--secondary-color);
}

@media (min-width: 280px) and (max-width: 400px) {
  .Footer {
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
